body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.post-cover {
    padding: 0px;
    border-width: 5px;
}

img {
    padding: 0px;
    border-width: 5px;
    border: 5px solid var(--accent);
}

figcaption {
    font-style: italic;
    font-weight: 200;
    background-color: rgb(33, 32, 44) !important;
    color: var(--accent) !important;
}

.post>.post-title {
    font-size: 2.7rem !important;
}

.on-list>.post-title {
    font-size: 1.6rem !important;
}

subtitle {
    font-weight: 300;
    color: black;
    font-style: oblique;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    width: 100%;
    background: var(--accent) !important;
}

.content>.post>.post-cover {
    margin-bottom: 0px;
}

.content>.post>.post-content {
    margin-top: 0px;
}