@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      color: theme('colors.theme-dark');
      background-color: theme('colors.theme-light');
      outline: 2px;
      outline-color: black;
      outline-style: solid;
      box-shadow: theme('boxShadow.xl');
      min-height: 256px;
      display: flex;
      flex-direction: column;
      background-size: cover;
    }

    @font-face {
      font-family: "w95fa";
      src: url(fonts/w95fa.woff);
    }

    @font-face {
      font-family: "amazdoom";
      src: url(fonts/AmazDooMLeft.ttf);
    }

    .card-content {
      flex: 1;
      flex-grow: 1; 
      padding: theme('spacing.4');
      margin: theme('spacing.1');
      background-color: rgba(216, 214, 210, 0.5);
      line-height: normal;
    }



    .card-title {
      padding: theme('spacing.2');
      font-weight: bold;
      text-align: center;
      
    }

    .dualpets-title {
      font-family: "w95fa", Arial, Helvetica, sans-serif;
      background-color: #000080;
      color: #CFCFE7;
      border: #C3C6CB ridge 2px;
    }

    .dualpets-cta {
      font-family: "w95fa", Arial, Helvetica, sans-serif;
      background-color: #C3C7CB;
      border-width: 1px;
      border-style: solid;
      border-color: black;
      margin: 4px;
      text-align: center;
      padding: 3px 4px 3px 4px;
    }

    .snip-and-shear-title {
      padding: 0px;
      font-family: "amazdoom", Arial, Helvetica, sans-serif;
      background-color: #000;
      color: #FFF;
      height:24px;
      padding-top: 0px;
      border-width: 0px;
      border-top: 20px;
      border-style: solid;
      border-color: black;
      font-size: x-large;
      box-sizing: content-box;
      
    }

    .brighton-title {
      background-color: #FFA500;
      scale: 1.05;
      rotate: -2deg;
    }

    .debugger-title {
      background-color: #F8139A;
      color: #FFF;
    }

    .debugger-content {
      background-color: rgba(50, 39, 47, 0.8);
    }

    .card-cta {
      bottom: 0px;
      text-align: center;
      margin: 4px;
      padding: 4px;
      text-decoration: underline;
      text-decoration-style: solid;
    }
    
    /* ... */
  }